
.change-password-container {
    max-width: 450px; 
    margin:120px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .OTPitems{
    display: flex;
  }
  
  

  .OTPItem{
    margin: 5px;
    text-align: center;
    font-size: 25px;
  }

  .OTPbtn{
    margin: 20px 0 10px;
    width: 100%;
  }

 