/* ForgotPassword.css */

.OTPcontainerFP{
  display: flex;
}


/* Container styling */
.ForgotPassForm {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 100px;
  }
  
  /* Heading styling */
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Paragraph styling */
  .forgotPass-p {
    text-align: center;
    color: #555;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input field styling */
  label {
    margin-bottom: 10px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styling */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* button:hover {
    background-color: #0056b3;
  } */
  